* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    /* background-color: #f6f8fb; */
    background-color: rebeccapurple;
    font-family: "Montserrat", sans-serif;
}

/* Нав. панель */
.nav-bar {
    margin-top: 10px;
    background-color: #fcfcfc;
    /* background-color: burlywood; */
    border-bottom: 2px solid #f6f8fb;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
}

.logo-img {
    margin-left: 20px;
}

/* Основная панель */
.main-window {
    /* background-color: #f6f8fb; */
    background-color: red;
}

.superior-score-window {
    background-color: #fcfcfc;
    width: 300px;
    border-radius: 5px;
    height: 600px;
}

.score {
    margin-top: 5px;
    /* background-color: #fcfcfc; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.money {
    margin: 15px 0px;
    background-color: #00388b;
    width: 220px;
    height: 75px;
    text-align: left;

    border-radius: 5px;
}

.p-money {
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
    /* letter-spacing: 1.5px; */
}

.h2-money {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 21px;
    color: #fff;
    position: relative;
}

.percent {
    position: absolute;
    font-size: 14px;
    bottom: 7px;
    right: 16px;
    font-weight: normal;

    width: 55px;
    height: 20px;

    text-align: center;

    border-radius: 20px;
    background-color: #fff;
    color: #00af59;
}

.left-icons {
    font-weight: 500;
    margin-left: 30px;
}

.bottom-left-icons-first {
    font-weight: 500;
    margin-left: 30px;
    margin-top: 170px;
}

.bottom-left-icons {
    font-weight: 500;
    margin-left: 30px;
}

.item-bottom-left-icon {
    display: flex;
    align-items: center;
    justify-content: left;
    /* margin-bottom: 5px; */
    border: none;
    background: #fcfcfc;
    font-size: 14px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 250px;
    height: 25px;
}

.item-bottom-left-icon:hover {
    background-color: #d9d9d9;
    border-radius: 5px;
}

.icon-size-bottom {
    height: 20px;
}

.item-left-icon {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
    border: none;
    background: #fcfcfc;
    font-size: 20px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 250px;
    height: 40px;
}

.statistics p {
    margin-left: 5px;
}

.item-left-icon:hover {
    background-color: #d9d9d9;
    border-radius: 5px;
}

.statistics {
    margin-top: 10px;
}

/* ПОЛЕ ПОИСКА */
.search-form-field {
    width: 300px;
    height: 42px;
    margin: 0 auto;
    display: flex;
}

.search-field {
    height: 42px;
    width: 250px;
    background: #f6f8fb;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-field:focus-visible {
    padding-left: 20px;
    outline: none;
}

.btn-search {
    width: 42px;
    height: 42px;
    background: url(./img/lupa.svg) no-repeat center/50%, #f6f8fb;

    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ИКОНКИ АККАУНТА */

.account-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.icon-size {
    height: 25px;
}
